:root {
  --primary-color: #1D1A49;
  --secondary-color: #5BA4A0;
  --text-color: #333;
  --button-color:#2696FD;
  --shadow-color:#0C0A36;
  --light-color:#161445;
  --white-color:#1D1A49;
  --test:#0072ff;
  --test:#00c6ff;
}
